/*  Style sheet for
    Laura Smith and Nicki Smith
    GEOG 575 Fall 2019
    Final Project - Sable Island Seals
*/

/* global variable for font; syntax for use in css is var(--font);*/
:root {
    --font: 'Open Sans Condensed', sans-serif;
}

/* global variable for text color; syntax for use in css is var(--textColor*/
:root {
    --textColor: #454545;
}

body {
    font-family: var(--font);
    background-color: #f8f9fa;
}

#header {
    background-color: #49556f;
    color: snow;
    margin-bottom: 0px;
    padding-left: 10px;
}

/* leaflet map */
#mapid { 
    height: 580px;
}


/*--- image styling below this line ---*/

#sealPic1 {
    border-radius: 10px;
}

.caption {
    font-size: 12px;
}

/*--- end of image styling ---*/


/*--- locator map styling below this line ---*/

/* locator div */
#locator {
  width: auto;
  height: 250px;
}

/* locator map svg (inside locator div) */
svg{
    background: white;
    border-radius: 10px;
} 

/* locator map paths*/
.coasts {
   fill: #efefef;
   stroke: aliceblue;    
   stroke-width: 2px;
}

/*--- end of locator styling ---*/


/* --- style seal paths ---*/
.F104 {
    stroke: #f2bfba;
}
.F532 {
    stroke: #a0d6b1;
}
.K88 {
    stroke: #efd3f5;
}
.S0749 {
    stroke: #fff8b8;
}
.S0758 {
    stroke: #ffd5ab;
}

/*---- animation button styling --*/
.animate {
    border-radius: 50%;
/*    text-align: center;*/
/*    vertical-align: center;*/
/*    display: table-cell;*/
    background-color: none;
/*    background-size: contain;*/
    display: block;
    height: 80px;
    width: 80px;
/*    color: white;*/
    padding: 0 0;
/*    font-size: 16px;*/
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    

    }

#seal1 {
    height:80px;
    width: 80px;
/*    position: relative;*/
/*    padding: 0;*/
/*    margin: auto;*/
    text-align: center;
    vertical-align: middle;
}

/* -----Everything below this line is CSS from Flex----- */

.label {
    width: 20px;
    height: 10px;
    fill: black;
}

/*--- end of locator styling ---*/

.pane {
    background-color: none;
    fill: none;
    stroke: #CC9999;
    stroke-width: 1.0px;
    opacity: 1;
}


/* -----Everything below this line is CSS from Flex----- */


.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.footer {
    background: #303140;
    color: #f8f9fa;   
}

/* centered pane or to the left or right if single aside */
.main {
  text-align: left;
  background: none;
}

/* places an aside on the left*/
.aside-1 {
  background: #f8f9fa;
}

/* places an aside on the right */
.aside-2 {
  background: #f8f9fa;
  /* set width appropriate for buttons on the right */
  max-width: 200px;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

/*--- end of Flex ---*/


/*-----------------------------------------

*Resources*

https://css-tricks.com/snippets/css/a-guide-to-flexbox/#flexbox-background

Color Palette
Dark blue: #303140
Medium blue: #49556f
Dark brown: #454545
Pink: #fcebe1
lavender: #acacde

*/-----------------------------------------